################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/les04/Debug/les04.tlog/unsuccessfulbuild
/les04.opensdf
